<div class="wrapper-slider">
	<form id="slidersForm">
	{# Slider prix véhicule #}
		<h2 class="slider-title">Prix en €</h2>
		<div class="container-slider">
			<div class="slider-value">
				<h2 id="title-min" class="slider-value__title">0</h2>
			</div>
			<div class="double-slider">
				<div class="double-slider__body">
					<div class="double-slider__track">
						<div id="slider-range" class="double-slider__range"></div>
						<div id="dot-left" class="double-slider__dot double-slider__dot--left"></div>
						<div id="dot-right" class="double-slider__dot double-slider__dot--right"></div>
					</div>
					<input id="input-left" min="0" max="499" value="50" class="double-slider__input" type="range">
					<input id="input-right" min="500" max="1500" value="1500" class="double-slider__input" type="range">
				</div>
			</div>
			<div class="slider-value">
				<h2 id="title-max" class="slider-value__title">1500</h2>
			</div>
		</div>
		{# Slider Kilométrage
		<h2 class="slider-title">Kilometrage</h2>
		<div class="container-slider">
			<div class="slider-value">
				<h2 id="title-min" class="slider-value__title">0</h2>
			</div>
			<div class="double-slider">
				<div class="double-slider__body">
					<div class="double-slider__track">
						<div id="slider-range" class="double-slider__range"></div>
						<div id="dot-left" class="double-slider__dot double-slider__dot--left"></div>
						<div id="dot-right" class="double-slider__dot double-slider__dot--right"></div>
					</div>
					<input id="input-left" min="0" max="500" value="50" class="double-slider__input" type="range">
					<input id="input-right" min="50" max="500" value="50" class="double-slider__input" type="range">
				</div>
			</div>
			<div class="slider-value">
				<h2 id="title-max" class="slider-value__title">500</h2>
			</div>
		</div>

		{# Slider ancienneté véhicule #}
		{# <h2 class="slider-title">Ancienneté</h2>
		<div class="container-slider">
			<div class="slider-value">
				<h2 id="title-min" class="slider-value__title">0</h2>
			</div>
			<div class="double-slider">
				<div class="double-slider__body">
					<div class="double-slider__track">
						<div id="slider-range" class="double-slider__range"></div>
						<div id="dot-left" class="double-slider__dot double-slider__dot--left"></div>
						<div id="dot-right" class="double-slider__dot double-slider__dot--right"></div>
					</div>
					<input id="input-left" min="0" max="500" value="50" class="double-slider__input" type="range">
					<input id="input-right" min="50" max="500" value="150" class="double-slider__input" type="range">
				</div>
			</div>
			<div class="slider-value">
				<h2 id="title-max" class="slider-value__title">500</h2>
			</div>
		</div> #}
	</form>
</div>

