{% extends 'base.html.twig' %}
{% block title %}Réinitialisation de mot de passe

{% endblock %}
{% block body %}
	<main>

		{{form_start(requestPassForm)}}
		<div class="form-header">Réinitialisation de mot de passe</div>
		{{form_row(requestPassForm.email)}}
		<button type="submit" class="btn btn-primary btn-centered">Envoyer</button>
		{{form_end(requestPassForm)}}

	</main>

{% endblock %}
