{% extends "base.html.twig" %}
{% block title %}Liste des types de véhicules
{% endblock %}
{% block body %}
	<div class="main">
		<h1 class="titre-principal">Liste des types de véhicules</h1>
<a href="{{path('app_vehicules_types_vehicules_creer')}}">Créer nouveau type</a>
        {% if typesvehicules %}              
		<table>
			{% for tv in typesvehicules %}
            <tr><td>{{tv.nomtype}}</td>
            <td><a href={{path('app_vehicules_types_vehicules_supprimer',{id:tv.id})}} class="btn btn-danger">Supprimer</a></td>
            </tr>
            
            {% endfor %}
		</table>
        {% else %}
            <p>Aucun type de véhicule n'est encore présent dans la base.</p>
        {% endif %}
	</div>
{% endblock %}
