{% extends "base.html.twig" %}
{% block title %}Gestion des marques
{% endblock %}
{% block body %}
	<div class="wrapper">
		{{ include('_partials/_admin-nav.html.twig') }}
		<main class="main">

			{{form_start(marque)}}
			<div class="form-header">Ajouter des marques</div>
			{{form_row(marque.marque)}}
			<button class="btn btn-primary btn-centered" type="submit">Enregistrer</button>
			{{form_end(marque)}}
		</main>
	</div>
{% endblock %}
