.btn {
    display: block;
    padding: 7px 10px;
    color: white;
    width: fit-content;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.8rem;
    transition: all 0.2s ease-in-out;

}

.btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.btn-primary {
    background-color: blue;
}

.btn-danger {
    background-color: red;
}

.btn-warning {
    background-color: orange;
}

.btn-go-back {
    background-color: lightgray;
    color: blue;
    margin: 10px;
}

.btn-voir-details {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
}

.btn-centered {
    margin: 10px auto;
}