.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: baseline;
}

.card-vehicule {
    width: 250px;
    min-height: 350px;
    margin: 10px;
    border: 1px solid lightgray;
    border-radius: 20px;
    box-shadow: 2px 2px 4px darkgray;
}

.card-vehicule:hover {
    transform: scale(105%);
    border: 2px solid black;
    box-shadow: 2px 2px 15px darkgray;
}

.card-title {
    text-align: center;
}

.card-title p,
.card-text p {
    margin: 5px;
}

.card-text {
    text-align: right;
    padding: 10px;
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.photo-miniature {
    width: 100%;
    min-height: 200px;
    background-color: rgb(244, 244, 244);
    border-radius: 20px 20px 0 0;
}