.cards-container {
  display: grid;
  place-items: start center;
  align-content: start;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  width: 100%;
  margin: 20px;
}

.card {
  margin: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 4px darkgray;
  background-color: #fff; 
}

.card-vehicule {
  width: 284px;
}

.card-vehicule:hover {
  transform: scale(105%);
  border: 2px solid blue;
  box-shadow: 1px 4px 10px blue;
}

.card-title {
  font-size: 1rem;
  font-weight: 900;
  margin: 13px;
  padding: 0;
  height: fit-content;
}
.card-text {
  margin: 8px;
  padding: 5px;
  font-size: 1rem;
  text-align: justify;
}
.card-price {
  position: relative;
  color: #fff;
  font-size: 0.7rem;
  padding: 5px 10px;
  background-color: rgb(54, 54, 255);
  border-radius: 5px;
  text-align: center;
  display: block;
  margin: 15px auto;
  width: fit-content;
}

.photo-miniature {
  background-color: lightgray;
  width: 284px;
  height: 213px;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 1;
}
.photo-miniature img {
  border-radius: 10px 10px 0 0;
  width: 284px;
  height: 213px;
  z-index: index 3;
}

.card-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}

.card-services .card-text {
  background-color: rgb(253, 253, 253);
  color: black;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 50px;
  margin-bottom: 10px;
}
.icone-service {
  display:flex;
  position: relative;
  width: 100%;
  height: 100px;
  background-color: var(--background-color);
  border-radius: 10px 10px 0 0;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px black;
}
.icone-service i{
  font-size: 50px;
  color:#fff;
}
.card-services .card-view-link {
  font-size: 0.8rem;
  display: block;
  text-align: right;
  margin: 8px;
  text-decoration: underline;
}

.card-services i {
  margin-right: 10px;
  
}
.card-services .card-title{
  color:blue;
  text-shadow: 1px 1px 4px darkgray;
}
.resume {
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  color: royalblue;
  margin: 5px;
  min-height: 40px;
}
.marque-vehicule {
  color: darkblue;
  text-align: left;
  text-shadow: 1px 1px 2px royalblue;
}
.modele-vehicule {
  text-align: left;
  font-size: 0.8rem;
  color: darkgray;
  margin: 5px;
}
.type-vehicule,
.type-motorisation {
  font-size: 0.6rem;
  padding: 6px;
  background-color: blue;
  margin: 0;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}
.type-motorisation {
  background-color: royalblue;
}
.prix-vehicule {
  font-size: 1.1rem;
  width: fit-content;
  padding: 5px 8px;
  color: royalblue;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px auto;
  text-shadow: 1px 1px 2px darkblue;
  letter-spacing: 1.1px;
}
.favoris {
  right: 20px;
  top: 30px;
  position: absolute;
  background-color: #fff;
  padding: 6px 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
  text-align: center;
}
.contact-service-par-mail a {
  margin: 10px auto;
  text-decoration: underline;
}
.contact-service-par-telephone {
  margin: 10px auto;
  color: blue;
}
.badge-annonce {
  background-color: rgb(225, 58, 46);
  color: white;
  padding: 5px;
  border-radius: 5px;
  width:100%;

  transform:translateX(-5px) translateY(-5px);
  z-index: 4;
  box-shadow: 1px 1px 6px royalblue;
  position:absolute;
}
.link-contact-par-mail{
  display:block;
  font-size: 0.8rem;
text-align:center;
color:blue;

}