form {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  max-width: 600px;
  border-radius: 10px;
  padding: 10px;
  justify-content: center;
  margin: 20px auto;
  background-color: #fff;
  align-content: start;
  width:100%;
}

form p {
  margin: 8px;
}
.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding: 15px;
  background: var(--background-color);
  color: #fff;
  border-radius: 5px;
  height: 35px;
  margin: 10px auto;
  width: 100%;
  box-shadow: 1px 1px 4px darkgray;
}
.form-header h1 {
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.form-body {
  background: white;
  padding: 5px 10 px;
}
.row {
  display: flex;
}
.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}
form div label {
  color: blue;
  font-size: 12px;
  margin-left: 5px; 

}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
select {
  width: 95%;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border: 1px solid lightblue;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.radio-grp {
  display: flex;
  align-items: center;
  margin: 5px;
}
.radio-button + label {
  display: flex;
  margin-left: 5px;
  white-space: nowrap;
}
input[type="checkbox"] {
  margin: 5px;
  accent-color: royalblue;
}

textarea {
  margin: 5px;
  width: 100%;
  min-height: 60px;
  border-radius: 5px;
}

fieldset {
display: flex;
flex-direction: column;
  border: 1px solid royalblue;
  border-radius: 5px;
  padding: 10px;
  background: #fff;
  margin: 10px; 

}
legend {
  color: #fff;
  padding: 5px 10px;
  background-color: royalblue;
  border-radius: 5px;
}
.radio-group {
  display: flex;
}
.radio-group div {
  flex: 1;
}
.login-and-register {
  margin: 20px 0;
}
.liste-commentaires {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  max-width: 800px;
}
.texte-commentaire {
  color: black;
  margin: 10px;
  padding: 0;
  font-size: 0.7rem;
}
.publication-par {
  color: darkgray;
  padding: 2px;
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 5px;
  text-align: right;
}
.container-commentaires {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 800px;
  max-height: 350px;
  margin: 10px auto;
  overflow-y: scroll;
}
.contenu-commentaire {
  background-color: rgb(250, 250, 250);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid darkgray;
  box-shadow: 2px 2px 4px darkgray;
  width: 100%;
}
.reponse {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: lightgray;
  color: blackck;
  margin-left: 10px;
}
.filtersForm {
  border: none;
  background: transparent;
}
