form {
  border: 1px solid #fff;
  max-width: 600px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto;
  background-color: var(--background-color);
  align-content: start;
  width: 100%;
  color: #fff;
  box-shadow: var(--box-shadow);
}

form p {
  margin: 8px;
  font-size: 0.8rem;
}
.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #cccccc;
  padding: 15px;
  background: #fff;
  color: var(--background-color);
  border-radius: 5px;
  height: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
  font-size: 1.5rem;
}

.form-body {
  background: white;
  padding: 5px 10 px;
}
.row {
  display: flex;
}
.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 10px 5px;
}
form div label {
  color: #fff;
  font-size: 12px;
  margin-left: 5px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="file"],
select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.8rem;
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #fff;
}
.radio-grp {
  display: flex;
  align-items: center;
  margin: 5px;
}
.radio-button + label {
  display: flex;
  margin-left: 5px;
  white-space: nowrap;
}
input[type="checkbox"] {
  margin: 5px;
  accent-color: royalblue;
}

textarea {
  margin: 5px;
  width: 100%;
  min-height: 60px;
  border-radius: 5px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px;
  background: transparent;
  margin: 10px;
}
legend {
  color: var(--background-color);
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
}
.radio-group {
  display: flex;
}
.radio-group div {
  flex: 1;
}
.login-and-register {
  margin: 20px 0;
}
.liste-commentaires {
  border-radius: 10px;
  padding: 10px;
  max-width: 600px;
  width: 100%;
  margin: 10px;
}
.texte-commentaire {
  color: black;
  margin: 10px;
  padding: 10px;
  font-size: 0.7rem;
}
.entete-commentaire{
  display:flex;
  flex-direction: row;
  padding:5px;
  justify-content:space-between;
  align-items: center;
  margin:5px;
}
.publication-par {
  color: darkgray;
  font-size: 0.7rem;
}
section.commentaires {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-commentaires {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 350px;
  margin: 10px auto;
  overflow-y: scroll;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.contenu-commentaire {
  background-color: rgb(250, 250, 250);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid darkgray;
  box-shadow: 2px 2px 4px darkgray;
  width: 100%;
}
.reponse {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  background-color: lightgray;
  color: blackck;
  margin-left: 10px;
}
.filtersForm {
  border: none; 
  padding:5px;
  margin:5px;
}
.checkbox-filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
  margin: 10px 20px;
  font-size: 1rem;
  background-color: var(--background-color);
  color: #fff;
  width: fit-content;
  cursor: pointer;
  border-radius: 5px;
}
.checkbox-filtres label {
  cursor: pointer;
}
.checkbox-filtres span {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 900;
  color: yellow;
}
input [type="file"] {
  margin: 10px;
  border-radius: 5px;
}
.img-logo {
  display:flex;
  justify-content: center;
  border: 1px solid royalblue;
  margin: 10px auto;
  border-radius: 10px;
}
.img-logo img {
  object-fit:fill;
}
.wrapper-filtres {
  width: 220px;
}
#homepage_form_logo{
  display:flex;
  align-items: center;
  justify-content: center;
  color:#fff;
  background-color: transparent;
  padding: 10px;
  border:none;
}
#homepage_form_logo label{
  margin: 10px;
}
#homepage_form_logo #file-upload-button{
  background-color: blue;
  margin:10px;
  cursor:pointer;
  border-radius: 5px;
}
#homepage_form_titre_principal{
  font-weight: bolder;
}
.note-visiteur{
  color:blue;
  margin-left: 10px;
}
.note-visiteur i{
  color:black;
  margin-right: 10px;
}