@media screen and (max-width: 900px) {
  .navbar {
    position: relative;
  }
  .menu-navbar {
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--background-color);
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    top: 100%;
    border-right: 1px solid darkgray;
    transform: translate(-100%);
    transition: transform 0.5s ease-out;
    padding: 15px 50px 15px 20px;
  }
  .menu-hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;   
    align-items: center;
    position: absolute;
    background: none;
    left:15px;
  }
  .menu-hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
    box-shadow: 1px 1px 2px black;
  }
  .menu-hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .menu-hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }
  .menu-hamburger span:nth-child(1),
  .menu-hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }
  .menu-hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .menu-hamburger.open span:nth-child(2) {
    opacity: 0;
    transition: opacity 0s ease-out;
  }
  .menu-hamburger.open span:nth-child(3) {
    transform: translate(0) rotate(-135deg);
  }
  .menu-hamburger.open span:nth-child(1) {
    transform: translate(0) rotate(135deg);
  }
  .open {
    transform: translate(0%);
  }
  .brand {
    order: 3;
  }
  .div-connexion {
   margin:20px auto;
    order: 2;
    color:yellow;
 
  }
  .div-links {
    order: 1;
  }
  .div-links .navbar-nav,
  .div-connexion .navbar-nav {
    flex-direction: column;
    font-size: 2rem;
  }
  .wrapper-commentaire {
    width: 90%;
  }
  section .titre-principal {
    font-size: 0.8rem;
  }
  .wrapper {
    flex-direction: column;
  }
  .galerie-photos {
    flex-direction: column;
    background-color: transparent;
    border: inherit;
  }
  .galerie-photos img {
    width: 300px;
    height: 300px;
  }
  .filtersForm{
    justify-content: center;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .navbar {
    padding: 10px; 
    text-align: center;   
  }
  .navbar-nav .nav-item a,
  .navbar-nav .nav-item i {
    font-size: 0.7rem;
    display: flex;
    flex-direction: column;    
  }
  .navbar-nav.nav-item {
    align-items: center;
  }
  .navbar-nav {
    align-items: center;
  }
}
