.menu-lateral-gauche {
    display:flex; 
    background-color:rgb(44, 44, 44);
    flex-direction: row;    
}

.menu-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.8rem;
    border:1px solid blue;
    padding:0;
}

.menu-title {
    position:relative;
    border: 1px solid gray;
    padding: 5px; 
    background-color: blue;
    color: white;   
}

.menu-link {
    list-style: none;
    margin: 10px;
    width: fit-content;
    color:#fff;
}
.menu-item{
border:1px solid darkgray;
}