.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  background-color: blue;
  color: #fff;
  box-shadow:1px 2px 4px black;
}

.menu-navbar {
  display: flex;
  flex-direction: row;
}
.menu-navbar ul {
  display: flex;
  margin: 5px;
  list-style: none;
}
.menu-navbar ul li a {
  padding: 5px;
  margin: 5px;
  color:#fff;
}
.div-connexion {
  display: flex;
  margin-right: 10px;
}
.div-connexion ul li a {
  color: #fff;
}
.div-connexion ul {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0;
}

.div-connexion .nav-item {
  margin: 10px;
  text-decoration: none;
  list-style: none;
}

.brand a {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-left: 10px;
  color: #fff;
}
