@import "./buttons.css";
@import "./tables.css";
@import "./cards.css";
@import "./forms.css";
@import "./navbar.css";
@import "./menus.css";
@import "./photos-gallery.css";
@import "./sliders.css";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgb(252, 254, 255);
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-areas: "filters" "cards";
  flex-wrap: wrap;
  align-content: start;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.titre-principal {
  margin: 10px auto;
  font-size: 1.5rem;
  color: blue;
  text-align: center;
}

.go-back-link {
  padding: 7px 10px;
  border: 1px solid black;
  width: fit-content;
  background-color: rgb(223, 220, 245);
  margin: 10px;
  border-radius: 10px;
}
.filtres {
  width: fit-content;
}
.resultat-filtre {
  font-size: 0.6rem;
}
