@import "./buttons.css";
@import "./tables.css";
@import "./cards.css";
@import "./forms.css";
@import "./navbar.css";
@import "./menus.css";
@import "./photos-gallery.css";
@import "./sliders.css";
@import "./switches.css";
@import "./footer.css";

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8rem;
}

main {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  /* flex-wrap: wrap; */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.titre-principal {
  margin: 10px auto;
  font-size: 1.5rem;
  color:blue;
  text-align: center;
  padding: 5px 10px; 
 
  
}

.go-back-link {
  padding: 7px 10px;
  border: 1px solid black;
  width: fit-content;
  background-color: rgb(223, 220, 245);
  margin: 10px;
  border-radius: 10px;
}
.filtres {
  width: fit-content;
}
.resultat-filtre {
  font-size: 0.6rem;
}
section {
  background-color: rgb(250, 250, 250);
  border-radius: 20px;
  margin: 10px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.link {
  color: #fff;
}
.link:visited {
  color: #fff;
}

.alert-danger {
  color: red;
  background-color: #fff;
  padding: 6px 5px;
  border-radius: 5px;
  width:fit-content;
}
