table {
  outline: 1px solid lightgray;
  margin: 10px auto;
  padding: 10px;
  width: fit-content;
  max-width: 95%;
  border-collapse: collapse;
  box-shadow: 1px 1px 4px black;
}

tr {
  border-bottom: 1px solid lightgray;
}
td {
  background-color: #fff;
  word-break: normal;
}
td,
th {
  padding: 10px;
}
thead {
  background: var(--background-color);
  border-radius: 20px;
  width: 100%;
}
th {
  text-align: left;
  color: white;
}
.table-label {
  background: var(--background-color);
  width: auto;
  color: white;
  white-space: nowrap;
  padding: 10px;
}

.fiche-vehicule,
.liste-options-vehicule {
  font-size: 0.8rem;
}
.price {
  text-align: right;
}
.jour {
  background: var(--background-color);
}
.wrapper-jours {
  display: flex;
  row-gap: 7px;
  column-gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px auto;
}
.alerte-jour {
  color: red;
  font-size: 0.7rem;
  padding: 5px;
  margin: 5px;
}
.wrapper-tables {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  width: 100%;
  justify-items: start;
}
.fiche-service {
  width: 90%;
  max-width: 1024px;
  margin: 10px auto;
}
