{% extends "base.html.twig" %}
{% block title %}Gestion des marques
{% endblock %}
{% block body %}
	<div class="main">
		<h1>Ajouter des marques de véhicules</h1>
		{{form_start(marquesForm)}}
		{{form_row(marquesForm.marque)}}
		<button class="btn btn-primary" type="submit">Enregistrer</button>
		{{form_end(marquesForm)}}
	{% endblock %}
