{% extends "base.html.twig" %}
{% block title %}Accueil Administration Garage
{% endblock %}
{% block body %}
	<main class="main">
	{# Menu lateral d'administration #}
	{% include "_partials/_admin-nav.html.twig" %}
		<div
			class="content">
			{# Contenu de la page #}
			<h1 class="titre-principal">Bienvenue sur la page d'administration du garage</h1>
			<p>Cliquez sur une option dans la colonne de gauche pour commencer</p>
		</div>
	</main>
{% endblock %}
