{% extends "base.html.twig" %}
{% block title %}Accueil Administration Garage
{% endblock %}
{% block body %}

	{# Menu lateral d'administration #}
	<div class="wrapper">
		{% include "_partials/_admin-nav.html.twig" %}
		{# Contenu de la page #}
		<main>
			<h1 class="titre-principal">Bienvenue sur la page d'administration du garage</h1>
			<p class="centered">Cliquez sur une option dans la colonne de gauche pour commencer</p>
		</main>
	</div>

{% endblock %}
