{% extends "base.html.twig" %}
{% block title %}Accueil Administration Garage
{% endblock %}
{% block body %}
	<main>
		{# Menu lateral d'administration #}
		{% include "_partials/_admin-nav.html.twig" %}
		{# Contenu de la page #}
		<div class="content">
		<h1 class="titre-principal">Bienvenue sur la page d'administration du garage</h1>		
		</div>
	</main>
{% endblock %}
