{% extends 'base.html.twig' %}
{% block body %}
<main>
<section class="services">
<h1 class="titre-principal"><i class="fa-solid fa-screwdriver-wrench"></i>Nos services</h1>
</section>
<div class="wrapper">
    {{ include('_partials/_services.html.twig') }}
</div>

</main>
    
{% endblock %}