{% extends 'base.html.twig' %}
{% block title %}{{titre}}
{% endblock %}
{% block body %}
	<main class="main">
		<h1 class="titre-principal">{{titre}}</h1>
	</main>
	{{ form(servicesForm) }}{% endblock %}
