.filtersForm {
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: center;
  max-width: inherit;
}

.checkbox-filtres {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
  margin: 10px 20px;
  font-size: 1rem;
  background-color: var(--background-color);
  color: #fff;
  width: fit-content;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 4px black;
}
.checkbox-filtres label {
  cursor: pointer;
}
.checkbox-filtres span {
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 900;
  color: yellow;
}

.input-intervalle {
  margin-left: 10px;
  margin-right: 10px;
}
.container-inputs {
  max-height: 0;
  background-color: #fff;
  padding: 0px;
  border-radius: 10px;
  position: relative;
  transition: max-height 0.4s, padding 0.4s;
  overflow-y: scroll;
  border: none;
}
.radio-grp {
  margin: 10px;
}
.radio-grp label {
  font-size: 1.2rem;
  color: var(--background-color);
}
.btn-collapse:checked ~ .container-inputs {
  border: 1px solid lightgray;
  max-height: 250px;
  padding: 20px;
}
.btn-collapse {
  display: none;
}
.btn-accordion{
  display:flex;
  flex-direction: column;
}

.accordion-label {
  display:flex;
  padding: 10px;
  background-color: var(--background-color);
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.1s;
  font-size: 1rem;
  border-radius: 10px;
  white-space: nowrap;
  margin-bottom: 2px;
}
.btn-accordion label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
  background-size: contain;
  transition: transform 0.4s;
  color: #fff;
}
.btn-collapse:checked ~ .btn-accordion label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

.input-label {
  font-size: 1.2rem;
}
