.wrapper-galerie-photos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  margin: 10px auto;
}
.wrapper-galerie-photos h6 {
  display: flex;
  font-size: 0.8rem;
  margin: 5px;
  width: fit-content;
}

.galerie-photos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin: 10px auto;
  padding: 10px;
  min-width: 300px;
  min-height: 120px;
  /* overflow-x: scroll; */
  background-color: rgb(240, 240, 240);
  align-items: center;
  justify-content: center;
}
.container-thumbnail {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.thumbnail-vehicule {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px darkgray;
  margin: 8px;
}
.btn-suppression-photo {
  position: relative;
  top: -15px;
  left: -45px;
  text-decoration: none;
  font-size: 2rem;
}
.mini-thumbnail {
  width: 75px;
  height: 75px;
  border-radius: 3px;
}
.popup-image {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  display:none;
}
.popup-image span {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #fff;
  cursor: pointer;
  z-index: 100;
}
.popup-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  border:5px solid #fff;
  border-radius: 5px;
  width: 750px;
  object-fit: cover;
}
@media (max-width:768px){
  popup-image img{
    width:95%;

  }
}
