{% extends "base.html.twig" %}
{% block title %}Gestion des marques
{% endblock %}
{% block body %}
	<div class="main">
<h1 class="titre-principal">Ajouter des marques de véhicules</h1>

		{{form_start(marque)}}
		{{form_row(marque.marque)}}
		<button class="btn btn-primary" type="submit">Enregistrer</button>
		{{form_end(marque)}}
	{% endblock %}
