{% extends "base.html.twig" %}
{% block title %}Ajouter une option à ce véhicule
{% endblock %}
{% block body %}

<h1 class="titre-principal">Ajouter une option à ce véhicule</h1>
<div class="main">
{{form(form)}}

</div>
    
{% endblock %}